numpy<2
matplotlib
tqdm
seaborn
torch
torchvision
opencv-python
h5py
numba
scipy
stumpy
dtaidistance
sentence-transformers
keras
momentfm
transformers==4.57.6
tslearn[all_features] @ https://github.com/tslearn-team/tslearn/archive/main.zip